<a href="#main-content" class="govuk-skip-link">Skip to main content</a>

<header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a routerLink="/" href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <img class="header-image"
          src="/assets/images/DCMS_WHITE_DIGI_AW.png"
          aria-label="Description of the overall image" alt="Department for Digital" />
        </span>
      </a>
    </div>
  </div>
</header>