.google-maps {
  position: relative;
  padding-bottom: 220%;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  @media only screen and (max-width: 640px) {
    padding-bottom: 75%;
  }
}
