<div class="govuk-width-container">

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#" aria-label="BDUK" target="_blank">BDUK</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" aria-label="Home" routerLink="/" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Find a broadband provider</li>
    </ol>
  </div>

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    <div class="govuk-grid-row">

      <!-- main form -->
      <div class="govuk-grid-column-two-thirds">

        <form class="form" action="/url/of/next/page" method="post">

          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                What is your address?
              </h1>
            </legend>

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                Please fill in your details on the form below or use the map to pinpoint your address
              </h2>
            </legend>

            <div class="govuk-form-group">
              <label class="govuk-label" for="address-line-1">
                Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
              </label>
              <input class="govuk-input" id="address-line-1" name="address-line-1" type="text">
            </div>

            <div class="govuk-form-group">

              <label class="govuk-label" for="address-line-2">
                <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
              </label>
              <input class="govuk-input" id="address-line-2" name="address-line-2" type="text">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="address-town">
                Town or city
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text">
              <!--example of error-->
              <!--
              <span id="passport-issued-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>
                Invalid city
              </span>
              -->
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="address-county">
                County
              </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county"
                type="text">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="address-postcode">
                Postcode
              </label>
              <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode"
                type="text">
            </div>

          </fieldset>

          <a href="/results" routerLink="/results" class="govuk-button" aria-label="Submit">Submit</a>

        </form>

      </div>
      <!-- main form end -->

      <!-- map -->
      <div class="govuk-grid-column-one-third">
        <div class="google-maps">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2451.474282970273!2d5.10508461594118!3d52.089299375810334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c643f9ec8b76eb%3A0xd162c2b23cd13667!2sCloud%20Technology%20Solutions%20Nederland!5e0!3m2!1sen!2snl!4v1574415987954!5m2!1sen!2snl"
            width="300" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
      </div>
      <!-- map end -->

    </div>

  </main>
</div>