<div class="govuk-width-container">

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#" aria-label="BDUK" target="_blank">BDUK</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" aria-label="Home" routerLink="/" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" aria-text="Find a broadband provider" routerLink="/" href="/">Find a broadband provider</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Broadband providers near you</li>
    </ol>
  </div>

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    <div class="govuk-grid-row">
      <!-- results -->
      <div class="govuk-grid-column-two-thirds">


        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Available providers
          </h1>
        </legend>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Supplier name</th>
              <th scope="col" class="govuk-table__header">Speed</th>
              <th scope="col" class="govuk-table__header">Price</th>
              <th scope="col" class="govuk-table__header">&nbsp;</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Virgin</th>
              <td class="govuk-table__cell">300 Mbps</td>
              <td class="govuk-table__cell">&pound;30 pm</td>

              <td class="govuk-table__cell align-right">
                <a class="govuk-button table-button">Go to offer</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">BT</th>
              <td class="govuk-table__cell">300 Mbps</td>
              <td class="govuk-table__cell">&pound;30 pm</td>
              <td class="govuk-table__cell align-right">
                <a class="govuk-button table-button">Go to offer</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Community Fibre</th>
              <td class="govuk-table__cell">300 Mbps</td>
              <td class="govuk-table__cell">&pound;30 pm</td>
              <td class="govuk-table__cell align-right">
                <a class="govuk-button table-button">Go to offer</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Virgin</th>
                <td class="govuk-table__cell">300 Mbps</td>
                <td class="govuk-table__cell">&pound;30 pm</td>
                <td class="govuk-table__cell align-right">
                  <a class="govuk-button table-button">Go to offer</a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">BT</th>
                <td class="govuk-table__cell">300 Mbps</td>
                <td class="govuk-table__cell">&pound;30 pm</td>
                <td class="govuk-table__cell align-right">
                  <a class="govuk-button table-button">Go to offer</a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Community Fibre</th>
                <td class="govuk-table__cell">300 Mbps</td>
                <td class="govuk-table__cell">&pound;30 pm</td>
                <td class="govuk-table__cell align-right">
                  <a class="govuk-button table-button">Go to offer</a>
                </td>
              </tr>
          </tbody>
        </table>

        <a routerLink="/" href="/" class="govuk-button">Search again</a>

      </div>
      <!-- results end -->

    </div>

  </main>
</div>